@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

body {
  background-color: #F2F2F2;
  color: #121212;
  font-family: "Vollkorn";
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

@media only screen and (max-width: 1000px) {
  body {
    margin-left: 8%;
    margin-right: 8%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a:link {
  color: #65737e;
}

a:visited {
  color: #343d46;
}

a:hover {
  color: #a7adba;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

thead {
  background-color: #333;
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

hr {
    display:block;
    border:0px;
    height:30px;
    background-image:url('hr.png');
    background-repeat: no-repeat;
    background-position: center;
}